<footer>
	<div class="container align-center">
		<ul class="footer-links">
			{{#global.footer.links}}
				<li><a href="#">{{text}}</a></li>
			{{/global.footer.links}}
			<li><a href="#"><i class="fab fa-twitter"></i></a></li>
			<li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
			<li><a href="#"><i class="fab fa-github"></i></a></li>
		</ul>
	
		<p><img class="logo" src="{{{global.img_logo}}}" alt=""><span>{{global.site_name}}</span></p>
	</div>
</footer>