<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <i class="toggle fas fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
                <img class="logo" src="{{{global.img_logo}}}" class="d-inline-block align-top" alt="">
                <span class="red">{{global.site_name}}</span>
            </a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
               <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link font-small" href="/">{{global.header_nav.courses.text}}</a>
                    <a class="nav-item nav-link font-small" href="/">{{global.header_nav.about.text}}</a>
                    <a class="nav-item nav-link font-small" href="/">{{global.header_nav.employers.text}}</a>
                    <a class="nav-item nav-link font-small" href="/">{{global.header_nav.blog.text}}</a>
                    <a class="nav-item nav-link font-small" href="/">{{global.header_nav.apply.text}}</a>
                </div>         
            </div>
        </div>
    </nav> 
</header>