<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <i class="toggle fas fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
                <img class="logo" src="{{{global.img_logo_nav}}}" class="d-inline-block align-top" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                {{#global.header_nav.home.show_or_hide}}
                    <a class="nav-item nav-link font-small" href="/">{{global.header_nav.home.text}}</a>
                {{/global.header_nav.home.show_or_hide}}

                {{#global.header_nav.blog.show_or_hide}}
                    <a class="nav-item nav-link font-small" href="/blog">{{global.header_nav.blog.text}}</a>
                {{/global.header_nav.blog.show_or_hide}}

                {{#global.header_nav.service.show_or_hide}}
                    <a class="nav-item nav-link font-small" href="/services">{{global.header_nav.service.text}}</a>
                {{/global.header_nav.service.show_or_hide}}      
            </div>
        </div>
    </nav> 
</header>