<!doctype html>
<html lang="en">
	{{>head}}
  	</head>

	<body>
	<div id="vertex-container">
		<div class="banner">
			{{>header}}

			<div class="container">
				<section class="hero" id="hero_section">
					<div class="row">
						<div class="col-lg-5 col-md-8 col-sm-12 section-title">
							<h1 class="section-head black-font m-top-4">{{page.hero_section.title}}</h1>
							<p class="section-sub m-top-1">{{page.hero_section.description}}</p>
							<p><a href="#register" class="register-btn"><button class="btn btn-md" style="background-color: {{page.hero_section.btn_color}}">{{page.hero_section.btn_text}}</button></a>
						</div>
					</div>
					<div class="banner-img" style="background-image: url('{{{page.hero_section.img_hero}}}=s1020');">
						<div class="left"></div>
						<div class="right"></div>
					</div>
				</section>
			</div>
		</div>

		{{#page.section1.show_or_hide}}
		<section class="section1" id="section1">
			<div class="row">
				<div class="col-lg-4 col-md-12 col-sm-12 list align-center" data-aos="zoom-in" data-aos-duration="800">
					<img src="{{{page.section1.lists.list1.img_list}}}">
					<h3>{{page.section1.lists.list1.title}}</h3>
					<p>{{page.section1.lists.list1.subtitle}}</p>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12 list align-center" data-aos="zoom-in" data-aos-duration="800">
					<img src="{{{page.section1.lists.list2.img_list}}}">
					<h3>{{page.section1.lists.list2.title}}</h3>
					<p>{{page.section1.lists.list2.subtitle}}</p>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12 list align-center" data-aos="zoom-in" data-aos-duration="800">
					<img src="{{{page.section1.lists.list3.img_list}}}">
					<h3>{{page.section1.lists.list3.title}}</h3>
					<p>{{page.section1.lists.list3.subtitle}}</p>
				</div>
			</div>
		</section>
		{{/page.section1.show_or_hide}}

		{{#page.section2.show_or_hide}}
		<section class="section2" id="section2">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-12 align-center">
						<div class="img-text" style="background-image: url({{{page.section2.img_section}}}=s720)">
							<p class="text-overlay">"{{page.section2.text}}"<span>— {{page.section2.name}}</span></p>
						</div>
					</div>
					<div class="col-md-6 col-sm-12 section-title">
						<h1 class="section-head black-font m-top-4">{{page.section2.title}}</h1>
						<p class="section-sub m-top-1">{{page.section2.description}}</p>
					</div>
				</div>
			</div>
			<div class="section2-bg"></div>
		</section>
		{{/page.section2.show_or_hide}}

		{{#page.section3.show_or_hide}}
		<section class="section3" id="section3">
			<div class="row">
				<div class="col-lg-5 order-lg-1 col-md-12 order-md-2 col-sm-12 section-title">
					<h1 class="section-head black-font m-top-4">{{page.section3.title}}</h1>
					<p class="section-sub m-top-1">{{page.section3.description}}</p>
				</div>
				<div class="col-lg-5 order-lg-2 order-md-1 ml-auto col-sm-12 m-top-4">
					<img src="{{{page.section3.img_section}}}"/>
				</div>
			</div>
			<div class="section3-bg"></div>
		</section>
		{{/page.section3.show_or_hide}}

		{{#page.section4.show_or_hide}}
		<section class="section4 m-pad-8" id="section4">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 offset-lg-1 col-md-5 col-sm-12 icons-left">
						<div class="row">
							<div class="col-lg-8 col-md-6 col-sm-12 align-right">
								<img class="img2" src="{{{page.section4.img_list.img_1}}}" data-aos="fade-down" data-aos-duration="1000"/>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-12">
								<img class="img1" src="{{{page.section4.img_list.img_2}}}" data-aos="fade-down" data-aos-duration="1200"/>
								<img class="img3" src="{{{page.section4.img_list.img_3}}}" data-aos="fade-down" data-aos-duration="1400"/>
							</div>
						</div>
					</div>
					<div class="col-lg-5 offset-lg-2 col-md-7 col-sm-12 section-title">
						<img src="{{{page.section4.img_icon}}}"/>
						<h1 class="section-head white-font m-top-1">{{page.section4.title}}</h1>
						<p class="section-sub white-font m-top-1">{{page.section4.description}}</p>
					</div>
				</div>
			</div>
			<div class="section4-bg"></div>
		</section>
		{{/page.section4.show_or_hide}}

		{{#page.section5.show_or_hide}}
		<section class="section5 m-pad-8" id="section5">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 col-md-9 col-sm-12 section-title align-center">
						<h1 class="section-head white-font m-top-1">{{page.section5.title}}</h1>
						<p class="section-sub m-top-1">{{page.section5.description}}</p>
					</div>
				</div>
			</div>
			<div class="section5-bg"></div>
		</section>
		{{/page.section5.show_or_hide}}

		{{#page.section6.show_or_hide}}
		<section class="section6 m-pad-8" id="section6">
			<div class="container">
				<div class="align-center section-title">
					<h1 class="section-head black-font m-top-1">{{page.section6.title}}</h1>
					<p class="section-sub m-top-1">{{page.section6.description}}</p>
				</div>
				<img class="left-img" src="{{{page.section6.img_logos}}}"/>
				<img class="right-img" src="{{{page.section6.img_logos}}}"/>
			</div>
		</section>
		{{/page.section6.show_or_hide}}

		{{#page.section7.show_or_hide}}
		<section class="section7 m-pad-8" id="section7">
			<div class="row">
				<div class="col-lg-6 offset-lg-1 col-md-12 col-sm-12 section7-left">
					<div class="code-img"><img src="{{{page.section7.img_section}}}"/></div>
					<ul>
						<li><img src="{{{page.section7.img_member.img_1}}}" data-aos="zoom-in" data-aos-duration="1000"/></li>
						<li><img src="{{{page.section7.img_member.img_2}}}" data-aos="zoom-in" data-aos-duration="1100"/></li>
						<li><img src="{{{page.section7.img_member.img_3}}}" data-aos="zoom-in" data-aos-duration="1200"/></li>
					</ul>
				</div>
				<div class="col-lg-5 col-md-12 col-sm-12 section-title">
					<h1 class="section-head white-font m-top-1">{{page.section7.title}}</h1>
					<p class="section-sub white-font m-top-1">{{page.section7.description}}</p>
				</div>
			</div>
			<div class="section7-bg"></div>
		</section>
		{{/page.section7.show_or_hide}}

		{{#page.section8.show_or_hide}}
		<section class="section8 m-pad-8" id="section8">
			<div class="container">
				<div class="align-center">
					<h1 class="section-head white-font m-top-1">{{page.section8.title}}</h1>
					<p class="section-sub m-top-1">{{page.section8.description}}</p>
				</div>
				<div class="row m-top-4 section-list">
					{{#services}}
						<div class="col-lg-4 col-md-12 col-sm-12">
							<div class="section-box">
								<h4 class="white-font align-center"><a href="/service/{{slug}}">{{name}}</a></h4>
								<p>{{fee}}</p>
								<p>{{{description}}}</p>
								<a href="/service/{{slug}}"><button class="btn btn-md" style="background-color: #bb1333">Learn more</button>
							</div>
						</div>
					{{/services}}
				</div>
			</div>
			<div class="section8-bg"></div>
		</section>
		{{/page.section8.show_or_hide}}

		{{>register}}

		{{>footer}}
		</div>
		<script>
			window.__PRELOADED__ = {{{preloaded}}}
		</script>
		<!-- Vertex library for enabling site updates from https://www.vertex360.co -->
    	<script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/vertex.min.js"></script>
		{{>scripts}}
		
	</body>
</html>