<!doctype html>
<html lang="en">
	{{>head}}
  	</head>

	<body>

		<div class="banner">
			{{>header}}

			<div class="container">
				<section class="hero">
					<div class="row">
						<div class="col-lg-5 col-md-8 col-sm-12 section-title">
							<h1 class="section-head black-font m-top-4">{{page.hero_section.title}}</h1>
							<p class="section-sub m-top-1">{{page.hero_section.description}}</p>
							<p><a href="#"><button class="btn btn-md" style="background-color: {{page.hero_section.btn_color}}">{{page.hero_section.btn_text}}</button></a>
						</div>
					</div>
					<div class="banner-img">
						<div class="left"></div>
						<div class="right"></div>
					</div>
				</section>
			</div>
		</div>

		<section class="section1">
			<div class="row">
				<div class="col-md-4 col-sm-12 list align-center">
					<img src="{{{page.section1.lists.list1.img_list}}}">
					<h3>{{page.section1.lists.list1.title}}</h3>
					<p>{{page.section1.lists.list1.subtitle}}</p>
				</div>
				<div class="col-md-4 col-sm-12 list align-center">
					<img src="{{{page.section1.lists.list2.img_list}}}">
					<h3>{{page.section1.lists.list2.title}}</h3>
					<p>{{page.section1.lists.list2.subtitle}}</p>
				</div>
				<div class="col-md-4 col-sm-12 list align-center">
					<img src="{{{page.section1.lists.list3.img_list}}}">
					<h3>{{page.section1.lists.list3.title}}</h3>
					<p>{{page.section1.lists.list3.subtitle}}</p>
				</div>
			</div>
		</section>

		<section class="section2">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-12 align-center">
						<div class="img-text" style="background-image: url({{{page.section2.img_section}}})">
							<p class="text-overlay">"{{page.section2.img_text}}"<span>— Joram Clervius, Full Stack Web Track</span></p>
						</div>
					</div>
					<div class="col-md-6 col-sm-12 section-title">
						<h1 class="section-head black-font m-top-4">{{page.section2.title}}</h1>
						<p class="section-sub m-top-1">{{page.section2.description}}</p>
					</div>
				</div>
			</div>
			<div class="section2-bg"></div>
		</section>

		<section class="section3">
			<div class="row">
				<div class="col-lg-5 col-md-7 col-sm-12 section-title">
					<h1 class="section-head black-font m-top-4">{{page.section3.title}}</h1>
					<p class="section-sub m-top-1">{{page.section3.description}}</p>
				</div>
				<div class="col-md-5 ml-auto col-sm-12 m-top-4">
					<img src="{{{page.section3.img_section}}}"/>
				</div>
			</div>
			<div class="section3-bg"></div>
		</section>

		<section class="section4 m-pad-8">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-md-5 col-sm-12">
						
					</div>
					<div class="col-lg-5 col-md-7 col-sm-12 section-title">
						<img src="{{{page.section4.img_icon}}}"/>
						<h1 class="section-head white-font m-top-1">{{page.section4.title}}</h1>
						<p class="section-sub white-font m-top-1">{{page.section4.description}}</p>
					</div>
				</div>
			</div>
		</section>

		<section class="section5 m-pad-8">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-9 col-sm-12 section-title">
						<h1 class="section-head white-font m-top-1">{{page.section5.title}}</h1>
						<p class="section-sub m-top-1">{{page.section5.description}}</p>
					</div>
				</div>
			</div>
			<div class="section5-bg"></div>
		</section>

		<section class="section6 m-pad-8">
			<div class="container">
				<div class="align-center section-title">
					<h1 class="section-head black-font m-top-1">{{page.section6.title}}</h1>
					<p class="section-sub m-top-1">{{page.section6.description}}</p>
				</div>
				<img class="left-img" src="{{{page.section6.img_logos}}}"/>
				<img class="right-img" src="{{{page.section6.img_logos}}}"/>
			</div>
		</section>

		<section class="section7 m-pad-8">
			<div class="row">
				<div class="col-md-7 col-sm-12 section7-left">
					<div class="code-img"><img src="{{{page.section7.img_section}}}"/></div>
					<ul>
						<li><img src="{{{page.section7.img_member.img1}}}"/></li>
						<li><img src="{{{page.section7.img_member.img2}}}"/></li>
						<li><img src="{{{page.section7.img_member.img3}}}"/></li>
					</ul>
				</div>
				<div class="col-md-5 col-sm-12 section-title">
					<h1 class="section-head white-font m-top-1">{{page.section7.title}}</h1>
					<p class="section-sub white-font m-top-1">{{page.section7.description}}</p>
				</div>
			</div>
			<div class="section7-bg"></div>
		</section>

		<section class="section8 m-pad-8">
			<div class="container">
				<div class="align-center">
					<h1 class="section-head white-font m-top-1">{{page.section8.title}}</h1>
					<p class="section-sub m-top-1">{{page.section8.description}}</p>
				</div>
				<div class="row m-top-4 section-list">
					<div class="col-md-4 col-sm-12">
						<div class="section-box">
							<h4 class="white-font align-center">{{page.section8.lists.list1.title}}</h4>
							<p>{{page.section8.lists.list1.payment}}</p>
							<ul>
								<li>{{page.section8.lists.list1.payment1}}</li>
								<li>{{page.section8.lists.list1.payment2}}</li>
							</ul>
							<p>{{page.section8.lists.list1.sched}}</p>
							<p>{{page.section8.lists.list1.topics}}</p>
							<p>{{page.section8.lists.list1.time}}</p>
							<p>{{page.section8.lists.list1.date}}</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="section-box">
							<h4 class="white-font align-center">{{page.section8.lists.list2.title}}</h4>
							<p>{{page.section8.lists.list2.payment}}</p>
							<ul>
								<li>{{page.section8.lists.list2.payment1}}</li>
								<li>{{page.section8.lists.list2.payment2}}</li>
							</ul>
							<p>{{page.section8.lists.list2.sched}}</p>
							<p>{{page.section8.lists.list2.topics}}</p>
							<p>{{page.section8.lists.list2.time}}</p>
							<p>{{page.section8.lists.list2.date}}</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="section-box">
							<h4 class="white-font align-center">{{page.section8.lists.list3.title}}</h4>
							<p>{{page.section8.lists.list3.payment}}</p>
							<ul>
								<li>{{page.section8.lists.list3.payment1}}</li>
								<li>{{page.section8.lists.list3.payment2}}</li>
							</ul>
							<p>{{page.section8.lists.list3.sched}}</p>
							<p>{{page.section8.lists.list3.topics}}</p>
							<p>{{page.section8.lists.list3.time}}</p>
							<p>{{page.section8.lists.list3.date}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="section8-bg"></div>
		</section>

		{{>footer}}

		<!-- Vertex library for enabling site updates from https://www.vertex360.co -->
    	<script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/vertex.min.js"></script>
		{{>scripts}}
	</body>
</html>