<!doctype html>
<html lang="en">
	{{>head}}
    <link href="/css/blog.css" rel="stylesheet">
  	</head>

	<body>

		{{>header}}

        <div class="container-post m-top-4">
                <div class="post-single">
                    <h2>{{post.title}}</a></h2>
                    <p>{{post.dateString}}</p>
                    <p><img src="{{{post.image}}}=s1024"/></p>
                    <div class="content">
                        {{{post.text}}}
                    </div>
                </div>
            </div>
        </div>

        {{>footer}}

		{{>scripts}}
	</body>
</html>