<!doctype html>
<html lang="en">
	{{>head}}
    <link href="/css/blog.css" rel="stylesheet">
  	</head>

	<body>

		{{>header}}

        <div class="container-post m-top-4">
            <h2>Services</h2>

            <div class="posts m-top-4">
                {{#services}}
                    <div class="post">
                        <p>{{dateString}}</p>
                        <p><a href="/service/{{slug}}"><img src="{{{image}}}=s1024"/></a></p>
                        <h4><a href="/service/{{slug}}" class="black-font">{{name}}</a></h4>
                        <p>{{preview}}</p>
                    </div>
                {{/services}}
            </div>
        </div>

        {{>footer}}

		{{>scripts}}
	</body>
</html>